/* Mobile Responsive  360x640*/
@media only screen and (max-width: 360px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  /* Header */

  #logo-holder img {
    position: absolute;
    width: 50px;
    height: auto;
    top: 8%;
  }
  .nav-ul {
    display: none;
    float: none;
    top: -5%;
    left: -6%;
    background-color: #5a5a5a;
    width: 360px;
    height: 656px;
    opacity: 0.9;
    position: fixed;
  }
  .nav-ul-li {
    display: block;
    padding: 20px;
    position: relative;
    left: 27%;
    top: 22%;
  }
  #mobile-res-hamburger-bar {
    display: block;
    position: absolute;
    margin-left: 290px;
    margin-top: 50px;
  }
  #mobile-res-close-btn {
    display: none;
    position: absolute;
    margin-left: 270px;
    margin-top: 50px;
  }
  #about-me {
    position: absolute;
    margin-left: -400px;
  }

  #aboutmeimg {
    width: 150px;
    height: auto;
    display: block;
    position: relative;
    margin-left: 30%;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  #typed {
    padding-left: 30px;
    font-size: 10px;
  }

  /* End Header */

  /* Introduction A.K.A intro */
  #intro {
    margin-left: -365px;
    margin-top: 562px;
    height: 600px;
  }
  #intro-img {
    border-radius: 25px;
    width: 150px;
    height: auto;
    margin-top: 109px;
    position: absolute;
    margin-left: 377px;
  }
  .intro-h3 {
    font-size: 15px;
    margin-bottom: 192px;
    margin-left: -591px;
  }
  .intro-h1 {
    font-size: 15px;
    margin-bottom: 217px;
    margin-left: -590px;
  }
  .intro-pre {
    font-size: 15px;
    margin-bottom: 180px;
    margin-left: -368px;
  }
  .intro-list {
    font-size: 10px;
    bottom: 38px;
    margin-left: -681px;
    margin-bottom: -499px;
  }
  .intro-hobbies {
    /* Reset */
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    /* Real */
    top: 1111px;
    width: auto;
    height: 46px;
  }
  /* End Introduction A.K.A intro */

  /* My Skills */
  #myskills {
    height: 1450px;
  }

  .titles {
    position: absolute;
  }
  .skills {
    margin: 0;
    position: absolute;
  }
  /* BOX 1 */
  #box1 {
    /*Reset  */
    margin: 0;
    /* Original */
    position: relative;
    top: 221px;
    width: 180px;
    height: 180px;
  }
  #box1 img {
    margin-left: 56px;
    margin-top: -4px;
  }
  #box1 h2 {
    margin-top: -6px;
  }
  #html {
    margin: 0 !important;
    margin-left: 40px !important;
    margin-top: -17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 1 */

  /* BOX 2 */
  #box2 {
    /* Reset */
    margin: 0;
    /* Original */
    left: 180px;
    top: 41px;
    position: relative;
    width: 180px;
    height: 180px;
  }
  #box2 img {
    margin-left: 61px;
    margin-top: -4px;
  }
  #box2 h2 {
    margin-top: -6px;
    margin-left: 6px;
  }
  #css {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 45px !important;
    margin-top: -17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 2 */

  /* BOX 3 */
  #box3 {
    /* Reset */
    margin: 0;
    /* Original */
    top: 47px;
    position: relative;
    width: 180px;
    height: 180px;
  }
  #box3 img {
    margin-left: 61px;
    margin-top: -4px;
  }
  #box3 h2 {
    margin-top: -6px;
    margin-left: 3px;
  }

  #js {
    /* Reset */
    margin: 0;
    /* Original */
    margin-left: 40px !important;
    margin-top: -17px !important;
    width: 100px !important;
    height: 100px !important;
  }

  /* End BOX 3 */

  /* BOX 4 */
  #box4 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: -133px;
    margin-left: 180px;
  }
  #box4 img {
    margin-left: 61px;
    margin-top: -4px;
  }
  #box4 h2 {
    margin-top: -6px;
    margin-left: 51px;
  }

  #jquery {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 40px !important;
    margin-top: 25px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 4 */

  /* BOX 5 */
  #box5 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 53px;
  }
  #box5 img {
    margin-left: 61px;
    margin-top: -4px;
  }
  #box5 h2 {
    margin-top: -6px;
    margin-left: 69px;
  }

  #ajax {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 44px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 5 */

  /* BOX 6 */
  #box6 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 53px;
    margin-left: 180px;
  }
  #box6 img {
    margin-left: 61px;
    margin-top: -4px;
  }
  #box6 h2 {
    margin-top: -6px;
    margin-left: 63px;
  }

  #react {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 46px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }

  /* End BOX 6 */

  /* BOX 7 */
  #box7 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 239px;
  }
  #box7 img {
    margin-left: 60px;
    margin-top: -4px;
  }
  #box7 h2 {
    margin-top: -6px;
    margin-left: 68px;
  }

  #php {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 42px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 7 */

  /* BOX 8 */
  #box8 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 239px;
    margin-left: 180px;
  }
  #box8 img {
    margin-left: 60px;
    margin-top: -4px;
  }
  #box8 h2 {
    margin-top: -6px;
    margin-left: 42px;
  }

  #angular {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 45px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 8 */

  /* BOX 9 */
  #box9 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 425px;
  }

  #box9 img {
    margin-left: 58px;
    margin-top: -4px;
  }
  #box9 h2 {
    margin-top: -6px;
    margin-left: 52px;
  }
  #sql {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 42px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* END BOX 9 */

  /* BOX 10 */
  #box10 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 425px;
    margin-left: 180px;
  }
  #box10 img {
    margin-left: 60px;
    margin-top: -4px;
  }
  #box10 h2 {
    margin-top: -6px;
    margin-left: 50px;
  }

  #node {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 45px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 10 */

  /* BOX 11 */
  #box11 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 1151px;
  }

  #box11 img {
    margin-left: 58px;
    margin-top: -4px;
  }
  #box11 h2 {
    margin-top: -6px;
    margin-left: 52px;
  }
  #java {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 42px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 11 */

  /* BOX 12 */
  #box12 {
    /* Reset */
    margin: 0;
    /* Original */
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 1151px;
    margin-left: 180px;
  }
  #box12 img {
    margin-left: 60px;
    margin-top: -4px;
  }
  #box12 h2 {
    margin-top: -6px;
    margin-left: 50px;
  }

  #laravel {
    /* Reset */
    margin: 0 !important;
    /* Original */
    margin-left: 45px !important;
    margin-top: 17px !important;
    width: 100px !important;
    height: 100px !important;
  }
  /* End BOX 12 */

  /* End My Skills */

  /* Services */
  #services {
    position: relative;
  }

  #services-container {
    position: relative;
    left: -370px;
  }
  #services-container-box{
    width: 180px;
    height: 180px;
    display: inline-block;
  }

  #services-container-box:nth-child(2) {
    left: 506px;
    position: absolute;
    margin-top: 60px;
  }

  #services-container-box:nth-child(3) {
    left: 325px;
    position: absolute;
    margin-top: 293px;
  }

  #services-container-box:nth-child(4) {
    left: 506px;
    position: absolute;
    margin-top: 293px;
  }
  #services-container-box:nth-child(6) {
    position: absolute;
    top: 491px;
  }
  #services-container-box:nth-child(7) {
    top: -696px;
    left: 506px;
    position: relative;
  }
  #services-container-box:nth-child(8) {
    top: -696px;
    position: relative;
  }
  #services-container-box:nth-child(9) {
    top: -936px;
    left: 506px;
    position: relative;
  }
  .services-container-h2 {
    font-size: 15px;
  }
  .services-container-p {
    font-size: 12px;
  }

  /* End services */

  /* Counters */
  .counters {
    width: 340px;
    height: 670px;
    position: relative;
    left: -38px;
    bottom: 6116px;
  }

  /* Counter-holder 1st child */
  .counter-holder:nth-child(1) {
    position: relative;
    left: 7px;
  }
  #counter-holder-counter-1 {
    left: 123px;
  }
  #counter-holder-counter-h3-1 {
    left: 123px;
  }

  /* End Counter-holder 1st child */

  /* Counter-holder 2nd child */

  .counter-holder:nth-child(2) {
    position: relative;
    top: 169px;
    left: -144px;
  }
  #counter-holder-counter-2 {
    left: 123px;
  }
  #counter-holder-counter-h3-2 {
    left: 123px;
  }
  /* End Counter-holder 2nd child */

  /* Counter-holder 3th child */

  .counter-holder:nth-child(3) {
    position: relative;
    top: 326px;
    left: -294px;
  }
  #counter-holder-counter-3 {
    left: 123px;
  }
  #counter-holder-counter-h3-3 {
    left: 123px;
  }

  /* End Counter-holder 3th child */

  /* Counter-holder 4th child */
  .counter-holder:nth-child(4) {
    position: relative;
    top: 471px;
    left: -445px;
  }
  #counter-holder-counter-4 {
    left: 104px;
  }
  #counter-holder-counter-h3-4 {
    left: 104px;
  }
  /*  End Counter-holder 4th child */
  /* End Counters */

  /* Projects */
  #projects {
    bottom: 6150px;
    position: relative;
  }

  .projects-container-box-logos-content-h3 {
    font-size: 12px;
  }
  .projects-container-box-logos-content-h3-2 {
    font-size: 12px;
  }
  .projects-container-box-logo-holder img {
    width: 180px;
    height: 180px;
  }

  .projects-container-box:nth-child(1) {
    margin: 0;
    left: 0px;
    position: relative;
  }
  .projects-container-box:nth-child(2) {
    left: 167px;
    bottom: 199px;
    position: relative;
  }
  .projects-container-box:nth-child(3) {
    left: -15px;
    bottom: 224px;
    position: relative;
  }
  .projects-container-box:nth-child(5) {
    left: -169px;
    bottom: 437px;
    position: relative;
  }
  .projects-container-box:nth-child(6) {
    left: -15px;
    bottom: 463px;
    position: relative;
  }
  .projects-container-box:nth-child(7) {
    left: 167px;
    bottom: 676px;
    position: relative;
  }

  .projects-container-box-logos-content {
    position: relative;
    top: 320px;
    left: -36px;
  }

  /* End Projects */

  /* Project offer section */
  #project-offer-section {
    bottom: 6900px;
    position: relative;
  }
  #project-offer-section {
    width: 340px;
    height: 700px;
    right: 23px;
  }

  .project-offer-section-text {
    position: relative;
    right: 160px;
  }
  .project-offer-section-text-p {
    display: none;
  }
  .projects-offer-section-button {
    top: 62px;
    text-align: center;
    font-weight: bolder;
  }

  .project-offer-section-img {
    position: relative;
    top: 452px;
    right: 1102px;
    width: auto;
    height: 380px;
  }
  /* Project Offer Section */

  /* Contacts */
  #contacts {
    position: relative;
    bottom: 6900px;
  }
  .contacts-article {
    left: 12px;
    position: relative;
    width: 340px;
    height: 640px;
  }
  #contact-form-name {
    width: 260px !important;
  }
  #contact-form-email {
    width: 280px !important;
    position: relative;
    margin-top: 10px;
    left: 26px;
  }
  #contact-form-subject {
    width: 300px !important;
    position: relative;
    left: 18px;
  }
  #contact-form-message {
    width: 312px !important;
    position: relative;
    left: 11px;
  }
  #contact-form-submit {
    left: 73px;
    top: 150px;
  }
  /* End Contacts */

  /* Contacts Aside */
  .contacts-aside {
    display: none;
  }
  /* End Contacts Aside */

  /* Footer */
  #footer {
    bottom: 7600px;
    height: 2100px;
    position: relative;
  }
  /* Footer Aboutme */
  .footer-aboutme {
    margin-top: 15px;
    position: absolute;
    right: 155px;
  }

  .footer-aboutme-h2 {
    margin: 0;
    position: relative;
    left: 90px;
  }
  .footer-aboutme-pre {
    font-size: 12px;
    line-height: 135%;
    left: 82px;
    position: relative;
    font-weight: bold;
  }
  .footer-aboutme-a {
    position: relative;
    margin: 0;
    top: 45px;
    left: 98px;
  }

  /* End Footer Aboutme */

  /* Footer Links */
  .footer-links {
    position: absolute;
    left: -558px;
    top: 260px;
  }

  .footer-links-pre {
    left: 218px;
    position: absolute;
    top: 20px;
  }
  /* End Footer Links */

  /* Footer Services Links */
  .footer-services {
    position: absolute;
    right: 136px;
    top: 745px;
  }

  .services-links-pre {
    left: 218px;
    position: absolute;
    top: 20px;
  }

  /*  End Footer Services Links */

  /* Footer Questions */
  .footer-questions {
    position: absolute;
    right: 136px;
    top: 1260px;
  }

  .footer-questions-h2 {
    position: relative;
    margin: 0;
  }
  .footer-questions-pre {
    left: -14px;
    position: absolute;
    top: 80px;
    font-size: 11px;
    margin: 0;
  }
  /* End Footer Questions */

  /* End Footer */
}