/* Mobile Responsive  360x640*/
@media only screen and (max-width: 360px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  /* Header */

  #logo-holder img {
    position: absolute;
    width: 50px;
    height: auto;
    top: 8%;
  }
  .nav-ul {
    display: none;
    float: none;
    top: -5%;
    left: -6%;
    background-color: #5a5a5a;
    width: 360px;
    height: 656px;
    opacity: 0.9;
    position: fixed;
  }
  .nav-ul-li {
    display: block;
    padding: 20px;
    position: relative;
    left: 27%;
    top: 22%;
  }
  #mobile-res-hamburger-bar {
    display: block;
    position: absolute;
    margin-left: 290px;
    margin-top: 50px;
  }
  #mobile-res-close-btn {
    display: none;
    position: absolute;
    margin-left: 270px;
    margin-top: 50px;
  }
  #about-me {
    position: absolute;
    margin-left: -400px;
  }

  #aboutmeimg {
    width: 150px;
    height: auto;
    display: block;
    position: relative;
    margin-left: 30%;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  #typed {
    padding-left: 30px;
    font-size: 10px;
  }

  /* End Header */
}

